*{
    margin-top: 9px;

}
.div1{
    text-shadow: 0 0 9px red;
}


.div2{
  background-color: red; 
  color: white; 
}

.div3{
    background-color: cyan; 
    color: white; 
  }

  .div4{
    background-color: yellow; 
    color: black; 
  }

  .div5{
    background-color: grey; 
    color: black; 
  }
  .div6{
    background-color: grey; 
    color: black; 
  }
  
  
